/*logo*/
.tmbd{
  border-radius: 15px;
  border:#22254b
 
}

/*header*/
header {
  background-color: #22254b;
}
a{
  text-decoration: none;
}

.btn-outline-secondary {
  background: #22254b;
  color: #8ecae6;
  font-weight: bold;
}
.btn-outline-secondary:hover {
  transform: scale(1.3);
}
.list-group {
  border: solid #22254b;
}
.list-group-item {
  background-color: #22254b;
  border: solid #22254b;
}

/*body*/
body {
  background-color: #373b76;
}
.container-body {
  margin: 35px;
}
.accordion-button:not(.collapsed) {
  font-weight: bold;
  background-color: #22254b;
  color: #8ecae6;
}
aside {
  background-color: #373b76;
}
.accordion {
  position: sticky;
  top: 0%;
}
.accordion-item {
  border: solid;
  border-radius: 5px;
  border-color: #22254b;
}
.navbar {
  height: calc(113vh - 15px);
  overflow-y: auto;
}
.navbar::-webkit-scrollbar {
  background: #22254b;
  width: 4px;
}
.navbar::-webkit-scrollbar-thumb {
  background: #8ecae6;
}
/*footer*/
footer{
  background-color: #22254b;
}

@media only screen and (max-width: 768px) {
  .list-group {
    display: flex;
    flex-direction: column;
  }
  .input-search {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .input-search {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 360px) {
  .input-search {
    display: flex;
    flex-wrap: wrap;
  }
}
